<section
  class="flex flex-col md:flex-row bg-gray-800 text-white p-8 md:px-20 justify-between items-center md:items-start gap-8"
>
  <div class="flex flex-col items-center md:items-start gap-6">
    <img
      src="/src/assets/img/logo-light.svg"
      alt="Digitalbank logo"
      class="h-6"
    />
    <div class="flex flex-row gap-3">
      <img
        src="/src/assets/img/icon-facebook.svg"
        alt="Facebook"
        class="w-5 h-5 cursor-pointer"
      />
      <img
        src="/src/assets/img/icon-youtube.svg"
        alt="YouTube"
        class="w-5 h-5 cursor-pointer"
      />
      <img
        src="/src/assets/img/icon-twitter.svg"
        alt="Twitter"
        class="w-5 h-5 cursor-pointer"
      />
      <img
        src="/src/assets/img/icon-pinterest.svg"
        alt="Pinterest"
        class="w-5 h-5 cursor-pointer"
      />
      <img
        src="/src/assets/img/icon-instagram.svg"
        alt="Instagram"
        class="w-5 h-5 cursor-pointer"
      />
    </div>
  </div>

  <div class="flex flex-col text-center md:text-left gap-3">
    <a href="#" class="hover:text-green-400 transition-colors">About Us</a>
    <a href="#" class="hover:text-green-400 transition-colors">Contact</a>
    <a href="#" class="hover:text-green-400 transition-colors">Blog</a>
  </div>

  <div class="flex flex-col text-center md:text-left gap-3">
    <a href="#" class="hover:text-green-400 transition-colors">Careers</a>
    <a href="#" class="hover:text-green-400 transition-colors">Support</a>
    <a href="#" class="hover:text-green-400 transition-colors">Privacy Policy</a
    >
  </div>

  <div class="flex flex-col items-center md:items-end gap-6">
    <button
      class="cursor-pointer bg-linear-to-r from-green-400 to-blue-500 px-7 py-3 rounded-full font-bold hover:opacity-80 transition-opacity"
    >
      Request Invite
    </button>
    <p class="text-gray-400 text-sm">© Digitalbank. All Rights Reserved</p>
  </div>
</section>
