---

---

<section>
  <nav  class="header">
    <figure>
        <img src="/src/assets/img/logo-dark.svg" alt="logo" class="logo">
    </figure>

    <figure>
        <img src="/src/assets/img/icon-hamburger.svg" alt="hamburger menu" class="hamburger">
    </figure>
   
  </nav>
</section>




<style>
.header {
    position: relative;
    display: flex;
    background-color: white;
    justify-content:space-between;
    align-items: center;
    padding: 1.4rem 1rem;
    z-index: 1;
}
</style>         